<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082196253830-e61jk9urgm0u7d3vkvfigg7el4el6t5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082196253830-e61jk9urgm0u7d3vkvfigg7el4el6t5a</string>
	<key>API_KEY</key>
	<string>AIzaSyCVgfbdxROgWj6lP_9gZLx8vfD_wwYKkn8</string>
	<key>GCM_SENDER_ID</key>
	<string>1082196253830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>udg-firebase-project</string>
	<key>STORAGE_BUCKET</key>
	<string>udg-firebase-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082196253830:ios:c5d6c9a24ad58203948507</string>
</dict>
</plist>